@media (max-width: 1200px) {
  .add-task-form {
    width: 90%;
  }
  .add-task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .respX {
    display: flex;
  }
}

@media (max-width: 1081px) {
  .overlay-addTask {
    width: 80%;
    height: 80vh;
    overflow: auto; /* Scrollbar aktivieren */
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .overlay-addTask::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .footer-add-task-html {
    position: sticky;
    bottom: 0;
  }
  .add-task-form {
    width: 100%;
  }
  .add-task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .respX {
    display: flex !important;
  }
}

@media (max-width: 600px) {
  .add-task-header h1 {
    font-size: 24px;
    line-height: 56px;
  }

  .overlay-addTask {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 500px) {
  .add-task-header h1 {
    font-size: 24px;
    line-height: 56px;
  }
  .form-group input {
    font-size: 16px;
  }
  .form-group textarea {
    font-size: 16px;
  }
  .input-wrapper input {
    font-size: 16px !important;
  }
  .priority-buttons {
    flex-direction: column;
    align-items: center;
  }
  .priority-buttons button {
    width: 50%;
  }
  .btn-primary,
  .btn-secondary {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .form-actions {
    display: flex;
    gap: 16px;
  }
}

@media (max-width: 431px) {
  .add-task-header h1 {
    font-size: 24px;
    line-height: 56px;
  }
  .form-group input {
    font-size: 16px;
  }
  .form-group textarea {
    font-size: 16px;
  }
  .input-wrapper input {
    font-size: 16px !important;
  }
  .priority-buttons {
    flex-direction: column;
    align-items: center;
  }
  .priority-buttons button {
    width: 50%;
  }
  .btn-primary,
  .btn-secondary {
    padding: 4px;
    font-size: 16px;
    line-height: 20px;
  }
  .form-actions {
    display: flex;
    gap: 16px;
  }
  .add-task-header {
    margin-bottom: 8px;
  }

  .overlay-addTask {
    width: 95%;
    height: 95%;
  }
}

@media (max-width: 376px) {
  .add-task-header h1 {
    font-size: 24px;
    line-height: 56px;
  }
  .form-group input {
    font-size: 16px;
  }
  .form-group textarea {
    font-size: 16px;
  }
  .input-wrapper input {
    font-size: 16px !important;
  }
  .priority-buttons {
    flex-direction: column;
    align-items: center;
  }
  .priority-buttons button {
    width: 50%;
  }
  .btn-primary,
  .btn-secondary {
    padding: 4px;
    font-size: 16px;
    line-height: 20px;
  }
  .form-actions {
    display: flex;
    gap: 16px;
  }
  .add-task-header {
    margin-bottom: 8px;
  }
}

@media (max-width: 1080px) {
  #board-container-done {
    padding-bottom: 100px !important;
  }
}
