.c-gray {
    background-color: #2A3647;
}

.c-red {
    background-color: #FF3D00;
}

.rd-box {
    background-color: #FFFFFF;
    border-radius: 30px;
}

.vrule {
    width: 3px;
    height: 59px;
    border-radius: 1.5px;
    background: #29ABE2;
}