.header {
  position: fixed;
  left: 232px;
  top: 0;
  right: 0;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.header-title {
  margin-left: 76px;
  color: #000000;
}

.respIcon {
  display: none;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-help {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-help img {
  width: 24px;
  height: 24px;
}

.icon-help:hover img {
  transform: scale(1.2);
}

.user-profile {
  position: relative;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.user-profile-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #2a3647;
  border-radius: 50%;
  box-shadow: 0 0 0 3px white;
}

.user-profile-initials {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.user-profile-initials:hover {
  background-color: #0c2e621f;
}

.user-profile-initials span {
  color: #29abe2;
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.header-overlay-content {
  position: absolute;
  top: 96px;
  right: 16px;
  display: flex;
  flex-direction: column;
  background-color: #2a3647;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-overlay-content a {
  color: #ffffff;
  padding: 16px;
}

.header-overlay-help {
  display: none;
}

@media (max-width: 1081px) {
  .header {
    left: 0;
    padding: 0 16px;
    height: 80px;
  }

  .header-title {
    display: none;
  }

  .icon-help{
    display: none;
  }

  .user-profile {
    width: 40px;
    height: 40px;
  }

  .user-profile-border {
    border: 2px solid #2a3647;
  }

  .f9{
    font-size: 13px;
  }

  .respIcon {
    display: block;
    width: 32px;
  }
  
  .header-overlay-content {
    top: 80px;
  }

  .header-overlay-help {
    display: block;
  }
}