body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  margin-top: 50px;
  margin-left: 100px;
}

.logo img {
  width: 100px;
  height: 120px;
}

.login-box {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px 30px;
  text-align: left;
  margin-top: 36px;
}

.login-box h2 {
  margin: 0;
  color: #333;
  text-align: center;
}

.login-box form {
  margin-top: 44px;
}

.login-box input[type="email"],
.login-box input[type="text"],
.login-box input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="email"]:focus {
  outline-width: 0;
  border: 2px solid #29abe2;
}

input[type="password"]:focus {
  outline-width: 0;
  border: 2px solid #29abe2;
}

.login-box-button {
  width: 50%;
  margin-bottom: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 25px;
  font-weight: bolder;
}

.login-box-button:hover {
  background-color: #29abe2;
  box-shadow: 0px 3px 3px #33333359;
}

.login-box-button2 {
  background-color: #eee;
  color: #333;
  border: 1px solid #333;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 25px;
  font-weight: bold;
}

.login-box-button2:hover {
  color: #29abe2;
  border-color: #29abe2;
  box-shadow: 0px 3px 3px #33333359;
}

footer {
  font-size: 16px;
  color: #777;
  margin-top: 300px;
  text-align: center;
}

footer a {
  color: #777;
  text-decoration: none;
  margin: 24px;
}

footer a:hover {
  font-size: 17px;
  font-weight: bold;
  color: #29abe2;
}

.loginBtn {
  display: flex;
  gap: 35px;
  margin-top: 36px;
}

.NotAJoinUser-box {
  display: flex;
  width: 280px;
  height: 50px;
  margin: 24px;
  margin-top: 50px;
  margin-right: 50px;
}

.NotAJoinUser-box p {
  margin: 0;
  padding-top: 12px;
}

.NotAJoinUser-box button {
  width: 80px;
}

.navLogIn {
  display: flex;
  justify-content: space-between;
}

#inputMail {
  background: white url(/assets/icons/mail.png) right no-repeat;
  background-position: calc(100% - 15px) center;
  padding-right: 20px;
}
#inputLock {
  background: white url(/assets/icons/lock.png) right no-repeat;
  background-position: calc(100% - 15px) center;
  padding-right: 20px;
}
#inputName {
  background: white url(/assets/icons/person.png) right no-repeat;
  background-position: calc(100% - 15px) center;
  padding-right: 20px;
}

.formWidth {
  width: 400px;
}

.checkBoxPP {
  display: flex;
}

.underSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpBtn {
  margin-bottom: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 25px;
  font-weight: bolder;
  padding: 12px;
  margin: 10px;
}

.signUpBtn:hover {
  background-color: #29abe2;
  box-shadow: 0px 3px 3px #33333359;
}

.checkBoxPP a {
  color: #29abe2;
  text-decoration: none;
}
.checkBoxPP input {
  margin-right: 12px;
}

.checkBoxPP a:hover {
  text-decoration: underline;
}

.footerSignUp {
  margin-top: 150px;
}
