body {
    font-family: "Inter", serif;
    background-color: #F6F7F8;
    margin: 0;
}

a {
    font-family: 'Inter', sans-serif;
}

.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 170px;
    height: 100vh;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.side-menu .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    padding: 0 16px;
}

.logo img {
    width: 100px;
    height: auto;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 32px;
    text-decoration: none;
    color: #CDCDCD;
    height: 40px;
}

.menu-button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.menu-button span {
    font-size: 14px;
    white-space: nowrap;
}

.menu-button:hover {
    background-color: #091831;
    color: white;
}

.menu-button.active {
    background-color: #091831;
    color: white;
}

.footer-links {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 32px;
}

.footer-links a {
    font-family: 'Inter', sans-serif !important;
    color: #A8A8A8;
    text-decoration: none;
    font-size: 14px;
    padding: 4px 0;
}

.footer-links a:hover {
    color: white;
}