.main-container {
    margin-left: 232px;
    margin-top: 110px;
    height: calc(100vh - 126px);
}

.summary-content {
    margin-left: 96px;
    margin-top: 206px;
}

.summary-title {
    margin-bottom: 56px;
    gap: 28px;
}

.summary-box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 28px;
}

.summary-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-right: 32px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.summary-box:hover {
    background: #2c3747;
    color: #ffffff;
    transform: scale(1.02);
}

.summary-box:hover .summary-box-icon {
    background-color: #FFFFFF;
}

.summary-box:hover .summary-box-icon_red {
    background-color: #FF3D00;
}

.summary-box:hover .summary-box-icon_todo {
    content: url('../icons/edit.svg');
    color: #ffffff;
    transform: scale(1.02);
}

.summary-box:hover .summary-box-icon_done {
    content: url('../icons/done.svg');
    color: #ffffff;
    transform: scale(1.02);
}

.summary-box-1 {
    width: 264px;
    height: 168px;
}

.summary-box-2 {
    width: 560px;
    height: 168px;
}

.summary-box-3 {
    width: 168px;
    height: 168px;
}

.summary-box-icon {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #2A3647;
}

.summary-box-icon_red {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #FF3D00;
}

.summary-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-box-text span {
    margin-left: 18px;
    margin-right: 18px;
}

.summary-box-deadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 13px;
}

.summary-icon {
    width: 32px;
    height: 32px;
}


.summary-vrule-blue {
    width: 3px;
    height: 59px;
    border-radius: 1.5px;
    background: #29ABE2;
}

.summary-vrule-gray {
    width: 2px;
    height: 102px;
    border-radius: 1.5px;
    margin-left: 24px;
    margin-right: 61px;
    background: #D1D1D1;
}

.summary-greeting {
    display: flex;
    flex-direction: column;

    margin-left: 80px;
}