.main-container {
    display: flex;
    padding-left: 232px;
    background: rgba(246, 247, 248, 1);
}

.summary-content {
    display: flex;
    background: rgba(246, 247, 248, 1);
}

.summary-box-1 {
    display: flex;
    justify-content: center;
}

.summary-box-icon {
    width: 69px;
    height: 69px;
    border-radius: 50%;
}

.summary-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}