<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="./assets/styles/fonts.css">
    <link rel="stylesheet" href="./assets/styles/components.css">
    <link rel="stylesheet" href="./assets/styles/header.css">
</head>

<body>
    <header class="header">
        <span class="header-title f2">Kanban Project Management Tool</span>
        <div class="header-icons">
            <div class="icon-help">
                <a href="../../help.html">
                    <img src="assets/icons/help.png" alt="Help icon">
                </a>
            </div>
            <div class="user-profile">
                <div class="user-profile-border"></div>
                <div class="user-profile-initials">
                    <span>SM</span>
                </div>
            </div>
        </div>
    </header>
</body>

</html>