<div class="subtask-form">
    <label class="label">Subtasks</label>

    <div class="input-container">
        <input type="text" placeholder="Add new subtask" class="input" id="subtaskInput" />
        <div class="icon-container">
            <div class="default-actions">
                <button class="icon-button" aria-label="Add subtask">
                    <img src="./assets/icons/plus.svg" alt="" />
                </button>
            </div>
            <div class="edit-actions hidden">
                <button class="icon-button" aria-label="Cancel">
                    <img src="./assets/icons/cross.svg" alt="" />
                </button>
                <div class="divider"></div>
                <button class="icon-button" aria-label="Confirm">
                    <img src="./assets/icons/check.svg" alt="" />
                </button>
            </div>
        </div>
    </div>

    <ul class="subtasks-list" id="subtasksList"></ul>
</div>